body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(51, 6, 45);
  font-size: larger;
  text-align: center;
}

a {
  color: aquamarine;
}

h1 {
  color: aquamarine;
}

ul {
  color: azure;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: rgb(255, 0, 0);
}
	
li {
  list-style: none;
}

